<h3>Competitions Index</h3>
<% @competitions.each do |competition| %>
    <p><%= competition.name %>&emsp;<%= link_to "#{competition.name}", "/competitions/#{competition.id}", method: :get %></p><br/>
<% end %>
